<%-include('student_header')%>
    <main>
        <section>
            <div class="d-flex justify-content-center fw-bold"
                style="background-repeat: no-repeat;background-size: cover; background-image:url(https://morsymultimedia.com/wp-content/uploads/2023/03/WhatsApp-Image-2023-03-09-12.58.17.jpg)">
                <div class="w-100 h-100 d-flex justify-content-center" style="background-color: #0f51948d;">
                    <h2 class="text-white m-5 p-5 fs-1">Our Team</h2>
                </div>
            </div>
        </section>
        <section class="about_page_container d-flex flex-wrap justify-content-center">

            <div class="card d-flex  m-1 col-11 p-0  border-0 shadow-lg">
                <div class="p-2 d-flex flex-wrap">
                    <img width="100%" class="col-lg-4 p-0"
                        src="https://morsymultimedia.com/wp-content/uploads/elementor/thumbs/sanjay-bhai-q4gcn7kuha8f3977qo2r4cnjdxk90nlx3tpb2q715s.jpg"
                        alt="">
                    <div class="col-12 col-lg-8">
                        <h2 class="fw-bold border-2 m-2 pb-2" style="border-bottom: 2px solid #0f51948d;"> Sanjay Goti
                        </h2>
                        <h5 class="m-2">CEO & Founder</h5>
                        <p class="m-2 fs-6">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                            of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
                            a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                            Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
                            word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from
                            sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
                            Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
                            popular during the Renaissance. The first line of Lorem Ipsum, "Landom text. It has roots in
                            a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                            McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the

                    </div>
                </div>
            </div>
            <div class="card mt-5 d-flex  m-1 col-11 p-0  border-0 shadow-lg">
                <div class="p-2 d-flex flex-wrap">
                    <img width="100%" class=" col-lg-4 p-0"
                        src="https://morsymultimedia.com/wp-content/uploads/elementor/thumbs/avdhishbhai-q4gcr1r4dxhkhxmibtswsvsapkn7g5ugmtlomei5r4.jpg"
                        alt="">
                    <div class="col-12 col-lg-8 d-flex flex-column ">
                        <h2 class="fw-bold border-2 m-2 pb-2" style="border-bottom: 2px solid #0f51948d; ">Avdhish
                            Kikani</h2>
                        <h5 class="m-2">CEO & CO-founder</h5>
                        <p class="m-2">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                            of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
                            a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                            Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
                            word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from
                            sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
                            Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
                            popular during the Renaissance. The first line of Lorem Ipsum, "Landom text. It has roots in
                            a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                            McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the

                        </p>
                    </div>

                </div>
            </div>
            <div class="card mt-5 d-flex  m-1 col-11 p-0  border-0 shadow-lg">
                <div class="p-2 d-flex flex-wrap">
                    <img class="col-12 p-0 col-lg-4" width="100%"
                        src="https://morsymultimedia.com/wp-content/uploads/elementor/thumbs/cirag-q4gcr1r4dxhkhxmibtswsvsapkn7g5ugmtlomei5r4.jpg"
                        alt="">
                    <div class="col-12 col-lg-8">
                        <h2 class="fw-bold border-2 m-2 pb-2" style="border-bottom: 2px solid #0f51948d;">Chirag
                            Navadiya</h2>
                        <h5 class="m-2">HOD & Managing Director</h5>
                        <p class="m-2">
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece
                            of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
                            a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure
                            Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
                            word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from
                            sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
                            Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very
                            popular during the Renaissance. The first line of Lorem Ipsum, "Landom text. It has roots in
                            a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                            McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the

                        </p>
                    </div>
                </div>
            </div>

        </section>

    </main>
    <%-include('student_footer')%>